<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/esales?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <mapping resource="com/esales/model/SystemProgram.hbm.xml"/>
    <mapping resource="com/esales/model/Filial.hbm.xml"/>
    <mapping resource="com/esales/model/SystemUserProgram.hbm.xml"/>
    <mapping resource="com/esales/model/Saida.hbm.xml"/>
    <mapping resource="com/esales/model/SystemUser.hbm.xml"/>
    <mapping resource="com/esales/model/Marca.hbm.xml"/>
    <mapping resource="com/esales/model/PessoaJuridica.hbm.xml"/>
    <mapping resource="com/esales/model/Entrada.hbm.xml"/>
    <mapping resource="com/esales/model/Venda.hbm.xml"/>
    <mapping resource="com/esales/model/Pessoa.hbm.xml"/>
    <mapping resource="com/esales/model/ProdutoFilial.hbm.xml"/>
    <mapping resource="com/esales/model/Cidade.hbm.xml"/>
    <mapping resource="com/esales/model/Produto.hbm.xml"/>
    <mapping resource="com/esales/model/SystemUserGroup.hbm.xml"/>
    <mapping resource="com/esales/model/CompraItem.hbm.xml"/>
    <mapping resource="com/esales/model/VendaItem.hbm.xml"/>
    <mapping resource="com/esales/model/SystemGroup.hbm.xml"/>
    <mapping resource="com/esales/model/Caixa.hbm.xml"/>
    <mapping resource="com/esales/model/Compra.hbm.xml"/>
    <mapping resource="com/esales/model/PessoaFisica.hbm.xml"/>
    <mapping resource="com/esales/model/SystemGroupProgram.hbm.xml"/>
    <mapping resource="com/esales/model/Log.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
